<div class="container mt-4">
    <h2 class="text-center">Available Rooms</h2>
    <div class="row mb-3">
      <div class="col-md-6 offset-md-3">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Search by Hotel Name, Room Type, or Location" 
          [(ngModel)]="searchTerm" 
          (input)="searchByHotelNameRoomTypeLocation()"
        />
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="filteredTerm.length === 0" class="alert alert-warning" role="alert">
          No rooms found.
        </div>
        
        <div class="card-container">
          <div *ngFor="let room of paginatedRooms; let i = index" class="card">
            <!-- <img src= "/assets/images/philip-jahn-PYkpulrIMG0-unsplash.jpg" alt="A stunning accommodation"> -->
            <img [src]="room.ImageUrl" alt="A stunning accommodation">

            <!-- <img [src]="" alt="Room Image" /> -->
            <div class="card-header">
              <div class="hotel-name">{{ room.HotelName }}</div>
              <div class="price">{{ room.PricePerNight | currency:'INR' }}</div>
            </div>
            <div class="card-content">
              <div class="card-details">
                <span class="icon">🛏️</span><strong class="small-bold">Room Type:</strong> {{ room.RoomType }}
              </div>
              <div class="card-details">
                <span class="icon">🚪</span><strong class="small-bold">No of Rooms:</strong> {{ room.NoOfRooms }}
              </div>
              <div class="card-details">
                <span class="icon">📍</span><strong class="small-bold">Location:</strong> {{ room.Location }}
              </div>
              <div class="card-details">
                <span class="icon">🛏️</span><strong class="small-bold">Bed Type:</strong> {{ room.BedType }}
              </div>
              <div class="card-details">
                <span class="icon">📝</span><strong class="small-bold">Description:</strong> {{ room.Description }}
              </div>
              <div class="card-details">
                <span class="icon">✔️</span><strong class="small-bold">Facilities:</strong> {{ room.Facilities }}
              </div>
            </div>
            <div class="card-actions">
              <button *ngIf="!isRoomBookedByUser(room.RoomId)" class="btn btn-primary btn-sm" (click)="bookNow(room.RoomId)">Book Now</button>
              <button *ngIf="isRoomBookedByUser(room.RoomId)" class="btn btn-danger btn-sm">Booked</button>
            </div>
          </div>
        </div>
        
        <nav aria-label="Page navigation example" class="pagination-container mt-4">
          <ul class="pagination justify-content-center">
            <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="currentPage === page">
              <button class="page-link" (click)="changePage(page)">{{ page }}</button>
            </li>
          </ul>
        </nav>
        
      </div>
    </div>
  </div>