.table th, .table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px; /* Added padding for better readability */
  }
  
  .table th {
    background-color: #3276a5;
    color: white;
  }
  
  .table tbody {
    background-color: white;
  }
  
  .table-bordered th, .table-bordered td {
    border: 1px solid #ddd;
  }
  
  .modal-body button {
    margin: 0 10px;
    border-radius: 5px; /* Added border-radius for a sleeker look */
  }
  
  input.form-control.d-inline-block {
    width: 300px; /* Set a consistent width for the input field */
    max-width: 100%; /* Ensure the input field doesn't overflow */
  }
  
  .btn-grey {
    background-color: grey;
    border-color: grey;
    cursor: not-allowed; /* Indicate that the button is disabled */
  }
  