.navbar-nav {
  display: flex;
  align-items: center;
  gap: 5px; /* Equal spacing between elements */
}

.navbar-user {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.nav-item {
  margin-right: 15px;
}

.nav-link{

    padding: 5px 10px;
    color: #00bfff; /* Style logout button to be white */
    font-size: 1.1rem;
    /*border-bottom: underlined;*/
}

.nav-link:hover{
    color: #00bfff!important; /* Change this to your desired hover color */
}
.logout-btn {
    background-color: lightblue; /* Light neutral color */
    color: #333333; /* Dark text */
    font-size: 14px; /* Reduced font size */
    padding: 8px 16px; /* Smaller padding */
    border: none;
    border-radius: 8px; /* Slightly less rounded corners */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: all 0.3s ease;
    cursor: pointer;
  }
 
  .logout-btn:hover {
    background-color: #da1212; /* Slightly darker shade */
    box-shadow: 0 5px 7px rgba(207, 29, 29, 0.15); /* Enhanced shadow */
    transform: scale(1.04); /* Slightly reduced scaling effect */
  }
 
    

.form-select {
  background: transparent;
  border: none;
  color: white;
  text-align: center;
}

.form-select-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Adjust width as needed */
}



@media (max-width: 992px) {
  .navbar-user, .nav-item, .form-select {
      margin-right: 0;
      margin-bottom: 10px;
  }
}

