<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style="border-color: #aeded9;">
        <div class="card-body">
          <h1 class="text-center mb-4" style="color: #004d40;">Add New Room</h1>
          <hr style="border-color: #004d40;">
          <form (ngSubmit)="addRoom(); roomForm.form.markAllAsTouched();" #roomForm="ngForm">
            <div class="form-group mb-3">
              <label for="hotelName">Hotel Name<span class="text-danger">*</span></label>
              <input type="text" id="hotelName" [(ngModel)]="room.HotelName" name="hotelName" required #hotelNameNg="ngModel" class="form-control" style="background-color: #f1f8e9; border-color: #aeded9;">
              <div *ngIf="hotelNameNg.invalid && (hotelNameNg.dirty || hotelNameNg.touched)" class="text-danger">Hotel Name is required.</div>
            </div>

            <div class="form-group mb-3">
              <label for="roomType">Room Type<span class="text-danger">*</span></label>
              <input type="text" id="roomType" [(ngModel)]="room.RoomType" name="roomType" required #roomTypeNg="ngModel" class="form-control" style="background-color: #f1f8e9; border-color: #aeded9;">
              <div *ngIf="roomTypeNg.invalid && (roomTypeNg.dirty || roomTypeNg.touched)" class="text-danger">Room Type is required.</div>
            </div>

            <div class="form-group mb-3">
              <label for="noOfRooms">Number of Rooms<span class="text-danger">*</span></label>
              <input type="number" id="noOfRooms" [(ngModel)]="room.NoOfRooms" name="noOfRooms" required #noOfRoomsNg="ngModel" class="form-control" style="background-color: #f1f8e9; border-color: #aeded9;">
              <div *ngIf="noOfRoomsNg.invalid && (noOfRoomsNg.dirty || noOfRoomsNg.touched)" class="text-danger">Number of Rooms is required.</div>
            </div>

            <div class="form-group mb-3">
              <label for="pricePerNight">Price Per Night<span class="text-danger">*</span></label>
              <input type="number" id="pricePerNight" [(ngModel)]="room.PricePerNight" name="pricePerNight" required #pricePerNightNg="ngModel" class="form-control" style="background-color: #f1f8e9; border-color: #aeded9;">
              <div *ngIf="pricePerNightNg.invalid && (pricePerNightNg.dirty || pricePerNightNg.touched)" class="text-danger">Price Per Night is required.</div>
            </div>

            <div class="form-group mb-3">
              <label for="location">Location<span class="text-danger">*</span></label>
              <input type="text" id="location" [(ngModel)]="room.Location" name="location" required #locationNg="ngModel" class="form-control" style="background-color: #f1f8e9; border-color: #aeded9;">
              <div *ngIf="locationNg.invalid && (locationNg.dirty || locationNg.touched)" class="text-danger">Location is required.</div>
            </div>

            <div class="form-group mb-3">
              <label for="bedType">Bed Type<span class="text-danger">*</span></label>
              <input type="text" id="bedType" [(ngModel)]="room.BedType" name="bedType" required #bedTypeNg="ngModel" class="form-control" style="background-color: #f1f8e9; border-color: #aeded9;">
              <div *ngIf="bedTypeNg.invalid && (bedTypeNg.dirty || bedTypeNg.touched)" class="text-danger">Bed Type is required.</div>
            </div>

            <div class="form-group mb-3">
              <label for="isAvailable">Is Available<span class="text-danger">*</span></label>
              <select name="isAvailable" id="isAvailable" [(ngModel)]="room.IsAvailable" required #isAvailableNg="ngModel" class="form-control" style="background-color: #f1f8e9; border-color: #aeded9;">
                <option style="background-color: white;" [ngValue]="false">No</option>
                <option style="background-color: white;" [ngValue]="true">Yes</option>
              </select>
            </div>

            <div class="form-group mb-3">
              <label for="description">Description<span class="text-danger">*</span></label>
              <textarea id="description" [(ngModel)]="room.Description" name="description" required #descriptionNg="ngModel" class="form-control" style="background-color: #f1f8e9; border-color: #aeded9;"></textarea>
              <div *ngIf="descriptionNg.invalid && (descriptionNg.dirty || descriptionNg.touched)" class="text-danger">Description is required.</div>
            </div>

            <div class="form-group mb-3">
              <label for="facilities">Facilities<span class="text-danger">*</span></label>
              <textarea id="facilities" [(ngModel)]="room.Facilities" name="facilities" required #facilitiesNg="ngModel" class="form-control" style="background-color: #f1f8e9; border-color: #aeded9;"></textarea>
              <div *ngIf="facilitiesNg.invalid && (facilitiesNg.dirty || facilitiesNg.touched)" class="text-danger">Facilities are required.</div>
            </div>

            <div class="form-group mb-3">
              <label for="imageUrl">Image URL<span class="text-danger">*</span></label>
              <input type="file" id="imageUrl" (change)="onFileSelected($event)" name="imageUrl" #fileInput required class="form-control" style="background-color: #f1f8e9; border-color: #aeded9;">
            </div>

            <div *ngIf="errorMessage" class="error-message text-danger">
              {{ errorMessage }}
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="roomForm.invalid" class="btn btn-success btn-block mt-3 form-control">Submit</button>
            </div>      
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center" style="text-align: center;text-decoration: solid;">
        Room Added Successfully
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" (click)="closeModal()" style="color: black;background-color: rgb(115, 152, 59);">OK</button>
      </div>
    </div>
  </div>
</div>
 


